RewriteEngine On # Activer le module Rewrite

RewriteRule ^personne/?$ personne.php [NC,L]
RewriteRule ^personne/(\d+)$ personne.php?id=$1

RewriteRule ^livre/?$ livre.php [NC,L]
RewriteRule ^livre/(\d+)$ livre.php?id=$1

RewriteRule ^auteur/?$ auteur.php [NC,L]
RewriteRule ^auteur/(\d+)$ auteur.php?id=$1

RewriteRule ^genre/?$ genre.php [NC,L]
RewriteRule ^genre/(\d+)$ genre.php?id=$1

RewriteRule ^collection/?$ collection.php [NC,L]
RewriteRule ^collection/(\d+)$ collection.php?id=$1




